<h1>home</h1>
<a href="/campgrounds" type="button" class="btn btn-primary">キャンプ場</a>
<p>Express</p>
<p>TS</p>
<p>Prisma</p>
<p>Bootstrap</p>
<p>cookieやflashをもちいたトースト</p>
<ul>
  <li>passport.jsの使い方 Prismaと連携</li>
  <li>登録後ログイン状態に</li>
  <li>
    ログイン画面へリダイレクトされる時遷移前のページを保存しておいてログイン後にそのページにリダイレクト
  </li>
</ul>
<p>星評価 「starability」</p>
<p class="starability-result" data-rating="3">Rated: 3 stars</p>
