<h1>home</h1>
<a href="/campgrounds" type="button" class="btn btn-primary">キャンプ場</a>
<br /><br />
<h2>UDEMY教材（Web Developer Bootcamp）を参考として、TypeScriptとPrismaでRestfulなWebサービスをつくり、それぞれの理解を深めることが目的</h2>
<p>Express</p>
<p>TS</p>
<p>Prisma</p>
<p>Bootstrap</p>
<p>cookieやflashをもちいたトースト</p>
<ul>
  <li>passport.jsの使い方 Prismaと連携</li>
  <li>登録後ログイン状態に</li>
  <li>ログイン画面へリダイレクトされる時遷移前のページを保存しておいてログイン後にそのページにリダイレクト</li>
</ul>
<p>星評価 「starability」</p>
<p>画像アップロード機能</p>
<ul>
  <li>画像置き場：Cloudinary</li>
  <li>formのエンコードタイプを変更→enctype="multipart/form-data"</li>
  <li>サーバーで解釈できるよう「multer」</li>
  <li>「Multer Storage Cloudinary」</li>
</ul>
<p>Node.jsの20以上ではdotenvが必要ない</p>
<br />
<p>画像箇所：容量や枚数の上限を設けるべきだが、スキップ</p>
<p>セキュリティ helmet</p>
<p>コンテンツセキュリティポリシーにcloudinaryを追加</p>
