<h1>新規登録</h1>
<div class="container-sm mx-50 mt-4" style="max-width: 500px">
  <form action="/campgrounds" method="post" class="needs-validation" novalidate>
    <div class="mb-3">
      <label for="title" class="form-label">キャンプ場名</label>
      <input
        type="text"
        class="form-control"
        id="title"
        name="title"
        required
      />
      <div class="valid-feedback">OK</div>
    </div>
    <div class="mb-3">
      <label for="location" class="form-label">場所</label>
      <input
        type="text"
        class="form-control"
        id="location"
        name="location"
        required
      />
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">説明</label>
      <textarea
        class="form-control"
        name="description"
        id="description"
        rows="4"
        required
      ></textarea>
    </div>
    <button type="submit" class="btn btn-primary">登録</button>
  </form>
</div>

<script>
  // Example starter JavaScript for disabling form submissions if there are invalid fields
  (() => {
    "use strict";
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    const forms = document.querySelectorAll(".needs-validation");

    // Loop over them and prevent submission
    Array.from(forms).forEach((form) => {
      form.addEventListener(
        "submit",
        (event) => {
          if (!form.checkValidity()) {
            event.preventDefault();
            event.stopPropagation();
          }

          form.classList.add("was-validated");
        },
        false
      );
    });
  })();
</script>
